{% extends 'base.html' %}

{% block nom %} Panier | {% endblock %}

{% block content %}
    <div id="panierapp">
        <h1 class="title">Panier</h1>

        {% if panier %}
        <div class="table">
            <table class="table">
                <thead>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr v-for="produit in produits">
                        <td>[[ produit.nom ]]</td>
                        <td><button @click="decrementQuantite(produit.id, produit.quantite, produit.prix)">-</button>[[ produit.quantite ]] <button @click="incrementQuantite(produit.id, produit.quantite,  produit.prix)">+</button></td>
                        <td> [[ produit.prix_total ]]</td>
                        <td><button @click="retirerDuPanier(produit.id)">Supprimer du panier</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Coût total:</td>
                        <td>[[ numItems ]]</td>
                        <td></td>
                        <td>[[ prixTotal ]]</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <from v-on:submit.prevent="submitForm()">
            <div class="field">
                <div cass="control">
                    <label>Prénom</label>
                    <input type="text" name="prenom" v-model="prenom">
                </div>
            </div>

            <div class="field">
                <div cass="control">
                    <label>Nom</label>
                    <input type="text" name="nom" v-model="nom">
                </div>
            </div>

            <div class="field">
                <div cass="control">
                    <label>Email</label>
                    <input type="text" name="email" v-model="email">
                </div>
            </div>

            <div class="field">
                <div cass="control">
                    <label>Adresse</label>
                    <input type="text" name="adresse" v-model="adresse">
                </div>
            </div>

            <div class="field">
                <div cass="control">
                    <label>Code Postal</label>
                    <input type="text" name="npa" v-model="npa">
                </div>
            </div>

            <div class="field">
                <div cass="control">
                    <label>Localité</label>
                    <input type="text" name="localite" v-model="localite">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary">Payer</button>
                </div>
            </div>
        </from>
            
        {% else %}
            <p>Votre panier est vide.</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    var produitapp = new Vue({
        el: '#panierapp',
        delimiters: ['[[',']]'],
        store: store,
        data () {
            return {
                prenom: '',
                nom:'',
                email:'',
                adresse:'',
                npa:'',
                localite:'',
                produits: [{{ produitstring | safe }}]
            }
        },
        computed: {
            numItems: function() {
                return store.state.numItems
            },
            prixTotal: function() {
                return store.state.prixTotal
            }
        },
        methods: {
            submitForm(){
                console.log('Submit form');

                var data = {
                    'prenom' : this.prenom,
                    'nom' : this.nom,
                    'email' : this.email,
                    'adresse' : this.adresse,
                    'npa' : this.npa,
                    'localite' : this.localite,
                }; 
                fetch('/api/payer/', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Success');
                    console.log(response);
                })
                .catch(function (error){
                    console.log('Error 2');
                })   
            },
            incrementQuantite(produit_id, quantite, prix){
                console.log('Produit_id:', produit_id);

                var data = {
                    'produit_id': produit_id, 
                    'update': true,
                    'quantite': parseInt(quantite) + 1
                };

                store.commit('increment', 1);
                store.commit('changePrixTotal', parseFloat(prix));

                fetch('/api/ajouter_au_panier/', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)
                    
                    for (var i = 0; i < this.produits.length; i++){
                        var produit = this.produits[i];
                        
                        if  (produit.id === produit_id) { 
                            this.produits[i].quantite = parseInt(this.produits[i].quantite) + 1;   /* Update la quantité en direct */
                            this.produits[i].prix_total = parseInt(this.produits[i].quantite) * parseFloat(this.produits[i].prix); /* Update le prix total en direct*/
                        }
                    }

                })
                .catch(function (error){
                    console.log('Error 2');
                })
            },
            decrementQuantite(produit_id, quantite, prix){
                console.log('Produit_id:', produit_id);

                var data = {
                    'produit_id': produit_id, 
                    'update': true,
                    'quantite': parseInt(quantite) - 1
                };

                store.commit('increment', -1);
                store.commit('changePrixTotal', -parseFloat(prix));

                fetch('/api/ajouter_au_panier/', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)
                    
                    for (var i = 0; i < this.produits.length; i++){
                        var produit = this.produits[i];
                        
                        if  (produit.id === produit_id) { 
                            this.produits[i].quantite = parseInt(this.produits[i].quantite) - 1;   /* Update la quantité en direct */
                            this.produits[i].prix_total = parseInt(this.produits[i].quantite) * parseFloat(this.produits[i].prix); /* Update le prix total en direct*/
                        }
                    }

                })
                .catch(function (error){
                    console.log('Error 2');
                })
            },
            retirerDuPanier(produit_id){
                console.log('Produit_id:', produit_id);

                var data = {
                    'produit_id': produit_id
                };

                fetch('/api/retirer_du_panier/', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.produits = this.produits.filter(produit => produit.id !== produit_id)
                })
                .catch(function (error){
                    console.log('Error 2');
                })
            }
        }
    })
</script>
{% endblock %}