{% extends 'base.html' %}

{% block nom %} {{ produit.nom }} | {% endblock %}

{% block content %}
    <div id="produitapp">
        <img src="{{ produit.image.url }}">
        <hr>
        <h1 class="title">{{ produit.nom }}</h1>
        <h2 class="subtitle">CHF {{ produit.prix }}</h2>

        {% if produit.description %} <!-- Si le produit a une description, l'afficher -->
            <p>{{ produit.description }}</p>
        {% endif %}

        <hr>

        <button @click ="ajouterAuPanier({{produit.id}})">Ajouter au panier</button>

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                Le produit a été ajouté au panier !
            </div>
        </article>

        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var produitapp = new Vue({
        el: '#produitapp',
        delimeters: ['[[',']]'],
        store : store,
        data () {
            return {
                showMessage: false
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            ajouterAuPanier(produit_id){
                console.log('Produit_id:', produit_id);

                var data = {
                    'produit_id': produit_id, 
                    'update': false,
                    'quantite':1
                };

                fetch('/api/ajouter_au_panier/', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000) /* Le message disparait au bout de 2000 ms */
                })
                .catch(function (error){
                    console.log('Error 2');
                })
            }
        }
    });
</script>
{% endblock %}